VITE_TMDB_READ_API_KEY="eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI4MjA5NzNjNGE2NjI4OTYzZDhmYzFjY2U3OWM3MzUwMiIsIm5iZiI6MTc1NTIxODYxOC40OTIsInN1YiI6IjY4OWU4MmJhMmRjZGJmMWYyNDZkODJiYiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.sz3TCDE8-ru9Ozq9exBpUtOeK1_pO9l_cR_tVlGz0y8"
VITE_OPENSEARCH_ENABLED=false

# make sure the cors proxy url does NOT have a slash at the end
VITE_CORS_PROXY_URL="https://1baebdd1.mootmoot.pages.dev"

# make sure the m3u8 proxy url does NOT have a slash at the end. THIS IS A TEMPORARY PROXY. WILL SOON BE INEGRATED INTO THE CORS PROXY
VITE_M3U8_PROXY_URL="https://1baebdd1.mootmoot.pages.dev"

# make sure the domain does NOT have a slash at the end
VITE_APP_DOMAIN=http://localhost:5173

VITE_ALLOW_AUTOPLAY=true
